@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
/* .background{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width:100%;
}

.head__nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    pointer-events: all;
    position: relative;
    z-index: 2;
}
.head-menu {
    display: none;
    position: relative;
} */
html{
    scroll-behavior:smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 80;
}
.hero{
    width: 99vw;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 3%;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 175px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.content{
    text-align: start;
    padding-right: 30%;
    /* border: solid rebeccapurple; */

}
.content h1{
    font-size: 100px;
    color: #fff;

}
.content h4{
    font-size: 50px;
    color: #fff;
    font-weight: 30;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.scroll{
    /* border: solid red; */
    position: absolute;
    display: flex;
    top: 85%;
    left: 10%;
    color: white;
    font-weight: 100;
}
.hero1{
    /* width: 70%;
    height: 100vh; 
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); 
    position: absolute; */
    /* padding: 0 5%; */
    height: 130vh;
    width: 99vw;
    position: relative;
    /* border: solid rebeccapurple;  */
    background-image: url("/assists/background2.jpg");
    background-size: cover;
}
/* .back-image{ */
    /* background-attachment: fixed;
    background-size: cover;
    position:static;
} */
.content1{
    text-align: flex-start;
    /* padding-right:59%; */
    height: 40%;
    width: 50%;
    padding-top: 4%;
    top: 5%;
    /* border: solid rebeccapurple; */

}
.content1 h1{
    font-size: 50px;
    text-align: center;
    top: 3%;
    color: #0c0c0c;padding-right: 12%;
    /* border: solid rebeccapurple; */
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     */
     /* font-family: 'Roboto', sans-serif; */
     /* font-weight: 100; */
}

.content1 p{
    margin: 40px 0px 0px 125px;
    line-height: 30px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 50%;
    top: 2%;
    color: #2c2b2bbc;
}
.paragraph{
    justify-content: start;
    /* border: solid rebeccapurple; */
    padding-left: 10%;
}
.background-image-page2{
    background-image: url('/assists/back-page2-1.png');
    background-size: cover;
    
    position: absolute;
    left: 60%;
    top: 6%;
    height: 65%;
    width: 32%;
    position: absolute;
    /* border: solid rebeccapurple; */
}
.background-image1-page2{
    background-image: url('/assists/background-image2-page2.jpg');
    position: absolute;
    background-size: cover;
    left: 10%;
    top: 70%;
    height: 30%;
    width: 35%;
    position: absolute;
    /* border: solid rebeccapurple; */
}
.hero2{
    /* width: 70%;
    height: 100vh; 
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); 
    position: absolute; */
    /* padding: 0 5%; */
    height: 150vh;
    width: 99vw;
    position: relative;
    /* border: solid rebeccapurple;  */
    /* background-image: url("/assists/background2.jpg"); */
    /* background-size: cover; */
}
.content2 {
    margin: 40px 0px 0px 125px;
    line-height: 30px;
    height: 10%;
    width: 85%;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 50%;
    /* border: solid rebeccapurple;  */
    color: #040000cf;
}
.content2-1{
    /* border: solid rebeccapurple;  */
    height: 100%;
    width: 40%;
    padding-left:10%;
    padding: 1%;
    float: left;
}
.content2-2{
    /* border: solid rebeccapurple;  */
    width: 15%;
    height: 100%;
    float: right;
    padding-top: 2%;
}
.content2-1 h1{
    font-size: 50px;
    text-decoration:double;
    padding-left: 6%;
}
.content2-1 h2{
    margin: 2%; 
   word-spacing: 5%;
   padding-left: 6%; 
    text-decoration:double;
    letter-spacing: 2%;
    font-size: 35px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    background-color: rgba(171, 168, 164, 0.005);
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
